
 .dropdown-menu {
     background-color: #e9ecef; /* Mismo color que el navbar */
     color: #000000; /* Texto visible */
 }
 .dropdown-menu a {
     color: #000000; /* Enlaces visibles */
 }
 .dropdown-menu a:hover {
     background-color: #961B71; /* Fondo para hover */
     color: #ffffff; /* Texto en hover */
 }

 .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #961B71;
  }
  
  .nav-link {
    font-size: 1rem;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  @media (max-width: 768px) {
    .nav-link {
      font-size: 0.9rem;
    }
  
    .navbar-brand {
      font-size: 1.2rem;
    }
  }